---
---

@import "{{ site.theme }}";

@font-face {
    font-family: "bebes-kai";
    src: url("/assets/fonts/eot/BebasKai.eot");
    src: url("/assets/fonts/woff-cffbased/BebasKai.woff") format("woff"),
    url("/assets/fonts/otf/BebasKai.otf") format("opentype")
    }

a,
section #title .credits,
section #title h1,
section #title p
{
    font-family: bebes-kai, sans-serif;
    font-style: normal;
    font-weight: 400;
};

h2 {
    color: #f0e7d5;
}

em {
    color: #e8e8e8;
} 

li {
    color: #b6b6b6;
}

a, h3 {
    color: #eeb14f;
}

section {
    margin-top: 10px;
}

.image {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }